@media screen and (min-width: 768px) and (max-width: 979px) {
	body {
		font-family: "League Gothic", Arial, sans-serif;
	}
	/* ****************** HEADER ****************** */
	.header__container {
		height: auto;
		padding: 0px 20px 0px 20px;
		box-sizing: border-box;
	}
	header {
		background-image: url("../img/backgroundS.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}
	.logo__container {
		height: auto;
		padding: 70px 0px 0px 0px;
		box-sizing: border-box;
	}
	.logo__link {
		display: block;
		height: 100%;
	}
	.logo__link > img {
		border-width: 0px;
	}
	/* ******* NAVIGATION ******* */
	.nav__list {
		list-style: none;
	}
	.nav__item {
		display: inline-block;
		box-sizing: border-box;
		font-size: 0px;
	}
	.nav__link,
	.nav__link:visited {
		display: inline-block;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		color: #fff;
		font-weight: normal;
		text-decoration: none;
		text-transform: uppercase;
	}
	.nav__link:hover,
	.nav__link:active {
		color: #fff;
		text-decoration: none;
	}
	.nav-small {
		display: none;
	}
	/* *** NAVIGATION IN THE HEADER *** */
	.nav--header {
		padding: 40px 0px 0px 0px;
	}
	.nav--header .nav__list > .active {
		border-bottom: 2px solid #edbfff;
	}
	.nav--header .nav__item {
		border-bottom: 2px solid transparent;
		-webkit-transition: border-bottom 0.6s;
		transition: border-bottom 0.6s;
		margin: 0px 20px 0px 22px;
		padding: 0px 5px 0px 7px;
	}
	.nav--header .nav__item:first-child {
		margin: 0px 42px 0px 0px;
		padding: 0px 3px 0px 0px;
	}
	.nav--header .nav__item:nth-child(2) {
		margin: 0px 39px 0px 0px;
	}
	.nav--header .nav__item:nth-child(3) {
		margin: 0px 40px 0px 0px;
	}
	.nav--header .nav__item:nth-child(4) {
		margin: 0px 40px 0px 0px;
	}
	.nav--header .nav__item:nth-child(5) {
		margin: 0px 17px 0px 0px;
	}
	.nav--header .nav__item:last-child {
		margin-right: 0px;
		padding-right: 0px;
	}
	.nav--header .nav__item:hover {
		border-bottom: 2px solid #edbfff;
	}
	.nav--header .nav__link {
		font-size: 24px;
		line-height: 31px;
		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
	}
	/* *** SLIDER *** */
	.slider {
		height: 651px;
		position: relative;
	}
	.slider__wrapper {
		height: 400px;
		width: 100%;
		position: absolute;
		top: 79px;
		left: 0px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.slider__container {
		height: 100%;
		margin: 0px auto;
		padding-left: 20px;
		position: relative;
	}
	.slider__info {
		width: 53%;
		height: 311px;
		margin: 89px 0px 0px 1px;
		float: left;
		box-sizing: border-box;
		overflow: hidden;
	}
	.slider__title {
		margin: 0px;
		padding: 0px;
		color: #ffffff;
		font-size: 54px;
		text-transform: capitalize;
		letter-spacing: 1.7px;
		word-spacing: -1px;
		line-height: 0.8;
	}
	.slider__slogan {
		color: #edbfff;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		line-height: 1.4;
	}
	.slider__paragraph {
		margin: 1px 0px 0px 0px;
		color: #ffffff;
		font-size: 17px;
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 300;
		font-style: normal;
		line-height: 1.45;
		word-spacing: 2.5px;
	}
	.slider__iphone {
		height: 418px;
		width: 274px;
		position: absolute;
		top: -17px;
		right: 20px;
		background-image: url("../img/iphone.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.slider__play-button {
		position: absolute;
		top: 148px;
		right: 62px;
		height: 77px;
		width: 76px;
		background-image: url("../img/play-button.png");
		background-position: 0 0;
		background-size: 100% 100%;
		opacity: 0.85;
		-webkit-transition: opacity 0.6s;
		transition: opacity 0.6s;
		cursor: pointer;
	}
	.slider__play-button:hover {
		opacity: 1;
	}
	.nav-icons {
		float: right;
		width: 87px;
		height: 18px;
		margin: 492px 160px 0px auto;
		font-size: 0px;
	}
	.nav-icons__first,
	.nav-icons__second,
	.nav-icons__third,
	.nav-icons__fourth {
		display: inline-block;
		height: 18px;
		width: 17px;
		background-image: url("../img/sprite-nav-circles-top.png");
		cursor: pointer;
	}
	.nav-icons__first {
		margin-right: 4px;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.nav-icons__second {
		margin-right: 4px;
		background-position: -19px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.nav-icons__third {
		margin-right: 5px;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.nav-icons__fourth {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/* ****************** ABOUT ****************** */
	.about {
		background: #322539;
		background: -webkit-linear-gradient(#745083, #322539);
		background: -o-linear-gradient(#745083, #322539);
		background: -moz-linear-gradient(#745083, #322539);
		background: linear-gradient(#745083, #322539);
		background: linear-gradient(#745083, #322539);
		border-top: 1px solid #33253a;
		border-bottom: 1px solid #1d2f37;
	}
	.about__container {
		width: 82.5%;
		margin: 0px auto;
		margin-top: 80px;
		margin-bottom: 70px;
		box-sizing: border-box;
		overflow: hidden;
	}
	.about__article {
		position: relative;
		float: left;
		height: 50%;
		width: 33.3%;
		box-sizing: border-box;
	}
	.about__article:nth-child(1) {
		padding: 0px 0px 0px 0px;
	}
	.about__article:nth-child(1) .about__text {
		display: inline-block;
		float: right;
		margin-left: 50px;
	}
	.about__article:nth-child(2) {
		padding: 0px 0px 0px 0px;
	}
	.about__article:nth-child(2) .about__text {
		display: inline-block;
		float: right;
		margin-left: 50px;
	}
	.about__article:nth-child(3) {
		padding: 0px 0px 0px 0px;
	}
	.about__article:nth-child(3) .about__text {
		display: inline-block;
		float: right;
		margin-left: 50px;
	}
	.about__icon {
		display: inline-block;
		position: absolute;
		height: 29px;
		width: 29px;
		background-image: url("../img/sprite-about-icons.png");
		background-repeat: no-repeat;
	}
	.about__icon.spanner-icon {
		top: 0px;
		left: 0px;
		background-position: 0px 0px;
	}
	.about__icon.thought-icon {
		top: 0px;
		left: 0px;
		background-position: 0px 0px;
	}
	.about__icon.notes-icon {
		top: 0px;
		left: 0px;
		background-position: 0px 0px;
	}
	.about__title,
	.about__link,
	.news__title {
		color: #fff;
		font-family: "League Gothic";
		text-transform: uppercase;
	}
	.about__title {
		font-size: 28px;
		line-height: 42px;
		letter-spacing: 0.5px;
		word-spacing: 0px;
		text-shadow: 1px 2px 0px #000;
	}
	.about__paragraph {
		height: 118px;
		padding: 0px;
		overflow: hidden;
		color: #fff;
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.5px;
		text-shadow: 1px 1px 0px #000;
		word-spacing: 0px;
		word-break: keep-all;
	}
	.about__paragraph--1 {
		margin: 0px 0px 0px -1px;
	}
	.about__paragraph--2 {
		margin: 0px 0px 0px -1px;
	}
	.about__paragraph--3 {
		margin: 0px 0px 0px -2px;
	}
	.about__link,
	.about__link:visited {
		color: #fff;
		font-size: 18px;
		letter-spacing: 0px;
		text-decoration: none;
		text-shadow: 1px 2px 0px #000;
		-webkit-: all 0.3s;
		transition: all 0.3s;
		word-spacing: 0px;
	}
	.about__link:hover,
	.about__link:active {
		color: #fff;
		text-decoration: none;
		text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
	}
	.about__link--1,
	.about__link--2,
	.about__link--3 {
		float: right;
		line-height: 62px;
	}
	.about__link--1 {
		padding-right: 39px;
	}
	.about__link--2 {
		padding-right: 16px;
	}
	.about__link--3 {
		padding-right: 0px;
	}
	/* ****************** NEWS ****************** */
	.news {
		height: auto;
		margin-top: 1px;
		padding: 99px 0px 74px 0px;
		background-color: #f9f9f9;
		border-bottom: 1px solid #efefef;
	}
	.news__container {
		height: auto;
		padding: 0px 20px 0px 20px;
		box-sizing: border-box;
	}
	.testimonial {
		float: left;
		position: relative;
		width: 44.5%;
		margin-left: 27px;
		padding: 0px 0px 0px 0px;
		box-sizing: border-box;
	}
	.testimonial__wrapper {
		padding: 28px 0px 56px 0px;
		background-image: url("../img/testimonial-bg.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.testimonial__img,
	.slider-nav__circle {
		background-image: url("../img/sprite-news.png");
	}
	.testimonial__img {
		display: block;
		position: absolute;
		top: 18px;
		left: -25px;
		height: 50px;
		width: 50px;
		background-position: 0px 0px;
	}
	.testimonial__text {
		float: right;
		margin-left: 38px;
	}
	.news__title {
		color: #000;
		font-family: "League Gothic";
		font-size: 28px;
		line-height: 31px;
		letter-spacing: 0.6px;
		text-transform: uppercase;
	}
	.violet {
		color: #edbfff;
		text-shadow: 1px 0px 0px #faeeff;
	}
	.testimonial__paragraph {
		padding: 10px 28px 0px 0px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0px;
		word-spacing: 0px;
	}
	.slider-nav {
		box-sizing: border-box;
		overflow: hidden;
		height: 19px;
		width: 96px;
	}
	.slider-nav--testimonial {
		margin: 0px auto;
	}
	.slider-nav__circle {
		float: left;
		margin: 0px -3px 0px 6px;
		height: 19px;
		width: 19px;
		cursor: pointer;
	}
	.slider-nav__circle:nth-child(1),
	.slider-nav__circle:nth-child(3),
	.slider-nav__circle:nth-child(4) {
		background-position: 0px -51px;
	}
	.slider-nav__circle:nth-child(2) {
		background-position: -23px -51px;
	}
	.updates {
		float: right;
		width: 49%;
		padding: 28px 10px 0px 22px;
		box-sizing: border-box;
	}
	.updates__line {
		position: relative;
		overflow: hidden;
		padding: 0px 0px 0px 0px;
	}
	.updates__img {
		display: inline-block;
		position: absolute;
		top: 20px;
		left: 0px;
		height: 50px;
		width: 50px;
		background-image: url("../img/sprite-news.png");
	}
	.updates__img--1 {
		background-position: -50px 0px;
	}
	.updates__img--2 {
		background-position: -101px 0px;
	}
	.updates__img--3 {
		background-position: -152px 0px;
	}
	.updates > .updates__line > .updates__text {
		float: right;
		width: 82%;
		padding-top: 20px;
	}
	.updates__subtitle,
	.updates__paragraph {
		font-family: "Open Sans", Arial, sans-serif;
	}
	.updates__subtitle {
		height: 25px;
		overflow: hidden;
		font-size: 16px;
		font-weight: 800;
		line-height: 25px;
	}
	.updates__paragraph {
		height: 25px;
		overflow: hidden;
		width: 90%;
		font-size: 14px;
		font-weight: lighter;
		line-height: 25px;
	}
	.updates__link,
	.updates__link:active {
		clear: both;
		color: #000;
		font-size: 18px;
		text-decoration: none;
	}
	.updates__link {
		float: right;
		text-align: right;
		padding: 15px 9px 0px 0px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	.updates__link:hover {
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	}
	/* ****************** TRUST MARKS ****************** */
	.trustmarks {
		background-color: #f9f9f9;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #efefef;
	}
	.trustmarks__menu {
		font-size: 0px;
	}
	.trustmarks__item {
		float: left;
		height: 65px;
		width: 16.6%;
		margin-top: 25px;
		margin-bottom: 30px;
		background-image: url("../img/sprite-trust-mk.png");
	}
	.trustmarks__item:nth-child(1) {
		background-position: 172px 0px;
	}
	.trustmarks__item:nth-child(2) {
		background-position: 172px 341px;
	}
	.trustmarks__item:nth-child(3) {
		background-position: 172px 276px;
	}
	.trustmarks__item:nth-child(4) {
		background-position: 172px 211px;
	}
	.trustmarks__item:nth-child(5) {
		background-position: 172px 143px;
	}
	.trustmarks__item:nth-child(6) {
		background-position: 172px 77px;
	}
	.trustmarks__link {
		display: block;
		height: 100%;
	}
	/* ****************** FOOTER ****************** */
	footer {
		height: auto;
		background-color: #ececec;
	}
	.footer__comments__wrapper {
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		position: relative;
		z-index: 20;
	}
	.footer__comments__container {
		padding: 0px 20px 0px 20px;
		box-sizing: border-box;
	}
	/* *** FOOTER COMMENTS *** */
	.hidden {
		display: none;
	}
	.footer__comments {
		padding-top: 87px;
		padding-bottom: 70px;
	}
	.footer__comment {
		float: left;
		width: 33.33%;
		padding: 0% 4.5% 0% 0%;
		box-sizing: border-box;
	}
	.footer__comment .news__title {
		padding: 7px 0px 8px 0px;
	}
	.logo__text {
		font-size: 48px;
		text-transform: uppercase;
		color: #454545;
		line-height: 0.703;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	}
	.gray-ER {
		color: #b9b9b9;
		font-size: 48px;
		color: #b9b9b9;
		line-height: normal;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	}
	.footer__copyright {
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 16px;
		color: #c4c4c4;
		line-height: 2.2;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
	}
	.footer__text {
		font-size: 16px;
		font-family: "OpenSans", Arial, sans-serif;
		color: #787878;
		line-height: 1.5;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.9);
		word-break: keep-all;
		overflow: hidden;
	}
	/* *** NAV FOOTER *** */
	.nav__container {
		padding-top: 48px;
		padding-bottom: 90px;
		background-image: url("../img/background-bottom.jpg");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.nav--footer .nav__list {
		padding: 0px 20px 0px 20px;
	}
	.nav--footer .nav__link {
		font-size: 21px;
		line-height: 31px;
		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
	}
	.nav--footer .nav__item:nth-child(1),
	.nav--footer .nav__item:nth-child(2) {
		margin: 0px 42px 0px 0px;
	}
	.nav--footer .nav__item:nth-child(3) {
		margin: 0px 41px 0px 0px;
	}
	.nav--footer .nav__item:nth-child(4),
	.nav--footer .nav__item:nth-child(5) {
		margin: 0px 40px 0px 0px;
	}
	.nav--footer .nav__item:nth-child(6) {
		margin-right: 0px;
		padding-right: 0px;
	}
	.nav__text {
		margin: 0px 20px 0px 0px;
		text-align: right;
		font-size: 12px;
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 300;
		color: #ffffff;
		line-height: 3.5;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	}
	.nav__text .bold {
		font-weight: 800;
	}
	/* ****************** CLEARFIX ****************** */
	.clearfix:after {
		clear: both;
		content: '';
		display: block;
		margin: 0px auto;
	}
	/**/
}
